.container{
    padding-top: 100px;
}

.card{
    background-color: inherit;
    margin-bottom: 20px;
}

.btn-blank{
    margin-left: 5px;
}

i{
    margin-right: 1px;
    padding-right: 1px;
    margin-left: 1px;
}
.badge-lg{
    font-size: 15px;
}