div(id="activity")
    .jumbotron.wow.fadeIn
        h1 #{nav["activity"]}
        hr(class="my-4")
        div.row
            each content,i in resume.activity
                .card.col-md-12
                    .card-block
                        h3(class="card-title")|#{content.title}
                        div(class="badge badge-lg badge-default")
                            |#{content.time}
                        p(class="card-text")
                            |#{content.description}