doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title #{resume.title}
    link(rel='stylesheet', href='css/all.css')
  body(data-spy="scroll" data-target="#navbar-example")
    block nav
    .container
        block content
    script(src="js/all.js")

