include _mixin.jade

nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') WebSiteName
    div
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          each item in menu.list
            +link(item.url,item.name)

