extend partial/_layout.jade

block nav
    include partial/_navbar.jade    

block content
    #basic.section
        h1 #{menu.list[0].name}
    #skills.section
        h1 #{menu.list[1].name} 
    #works.section
        h1  #{menu.list[2].name}
    #contact.section
        h1  #{menu.list[3].name}
