extend _layout.jade

block nav
    include partial/_navbar.jade

block content
    #basic.section
        h1 1
    #skills.section
        h1 2 
    #works.section
        h1  3
    #contact.section
        h1 4
