include _mixin.jade

extend partial/_layout.jade
block nav
    include partial/_navbar.jade    
block content
    include contents/about.jade
    include contents/skill.jade
    include contents/works.jade
    include contents/experiences.jade
    include contents/other.jade
    .top
        i(class="fa fa-arrow-up",aria-hidden="true")